    <div class="row-blocks">
        <div class="col-6">
          {{form_row(form.name)}}  
        </div>
        <div class="col-6">
          {{form_row(form.contact)}}  
        </div>
    </div>    
    <div class="row-blocks">
        <div class="col-2">
          {{form_row(form.zipCode)}}  
        </div>
        <div class="col-5">
          {{form_row(form.city)}}  
        </div>
        <div class="col-5">
          {{form_row(form.street)}}  
        </div>
    </div>    
    <div class="row-blocks">
        <div class="col-4">
          {{form_row(form.tel)}}  
        </div>
        <div class="col-4">
          {{form_row(form.email)}}  
        </div>
    </div>    
   {% if is_granted('ROLE_ADMIN') %}     
    <div class="row-blocks">
        <div class="col-4">
          {{form_row(form.active)}}  
        </div>
    </div>
    {% endif %}    


