<div class="row-blocks">
    <div class="col-4">
        {{form_row(form.usernameCanonical)}}
    </div>
    <div class="col-2">
        {{form_row(form.enabled)}}
    </div>
    <div class="col-2">
        {{form_row(form.userGroups)}}
    </div>
    <div class="col-4">
        {{form_row(form.roles)}}
    </div>
</div>
<div class="row-blocks">
    <div class="col-3">
        {{form_row(form.username)}}
        {{form_row(form.email)}}
    </div>
    <div class="col-3">
        {{form_row(form.plainPassword)}}
    </div>
    <div class="col-6">
        {{form_row(form.clients)}}
    </div>
</div>